*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 85vw;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 5em;
}